body {
    font-family: 'Lato', sans-serif;
    width: 50%;
    border-left: 8px solid #2baadf;
}
a {
    color: #2baadf;
}
article {
    color: #444444;
    border-bottom: #cccccc solid 2px;
}
h3 {
   color: #cccccc; 
}
header, nav {
    text-align: center;
}
img {
    width: 350px;
}
