body {
    text-align: center;
}
header {
background-color: rosybrown;
margin: 0 auto;
border-radius: 8px 8px 0 0;
text-align: center;
padding: 32px;
}
article {
    background-color: sandybrown;
    margin-left: 0 auto;
    text-align: block;
    border-left: 0;
    padding-left: 0;
}
footer {
    background-color: sienna;
    margin: 0 auto;

}
img {
    width: 250px;
}
p, h1, h2 {
    width: 70%;
}
* {
    box-sizing: border-box;
}